.container {
    min-height: calc(100vh - 120px);
}

@media (max-width: 1024px) {
    .container {
        min-height: calc(100vh - 63px);
        flex-direction: column-reverse;
        padding: 60px 112px 100px;
    }
}

@media (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
        padding: 60px 32px 100px;
    }
}

@media (max-width: 420px) {
    .container {
        max-height: calc(100vh - 63px);
    }
}
