.title {
  font-size: 240px;
  mix-blend-mode: difference;
}

.hero {
  z-index: 1000;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.floating2 {
  animation: float 2s ease-in-out infinite;
  animation-delay: 1s;
}

@media (max-width: 1440px) {
  .title {
    font-size: 17.6vw;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
