.searcher::-webkit-calendar-picker-indicator {
  color: transparent;
  cursor: text;
}

.list {
  max-height: 350px;
  overflow: auto;
}

.option {
  padding: 12px;
  font-size: 26px !important;
}

.modal {
  width: 90vw;
  max-width: 650px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 85vh;
  max-height: 400px;
  z-index: 1;
  animation-name: modalAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  /* before animation */
  opacity: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  animation-name: overlayAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  /* before animation */
  opacity: 0;
}

@keyframes overlayAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
