.quote {
    min-height: 700px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}

.mark {
    animation-name: markAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateY(-50px);
    opacity: 0;
}

.text {
    animation-name: textAnimation;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: scale(0.9);
    opacity: 0;
}

.author {
    animation-name: authorAnimation;
    animation-duration: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    transform: translateY(50px);
}

@keyframes markAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes authorAnimation {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1440px) {
    .quote {
        min-height: calc(100vh - 120px);
    }
}