.title {
    font-weight: 700;
    font-size: 65px;
    line-height: 1;
    letter-spacing: -0.02em;
}

@media (max-width: 768px) {
    .title {
        font-size: 42px;
    }
}

@media (max-width: 640px) {
    .title {
        font-size: 36px;
    }
}