.container {
    background: linear-gradient(180deg, #2C4750 0%, #021213 100%);
    border-radius: 20px;
}

.inline__container {
    background: linear-gradient(180deg, #2C4750 0%, #021213 100%);
    padding: 2px;
}

.button {
    background: #1DB954;
    border-radius: 100px;
    padding: 15px 28px;
    font-weight: 700;
    color: white;
}

.secondButton {
    font-weight: 700;
    color: white;
    margin-left: 30px;
}

@media (max-width: 640px) {
    .button {
        padding: 12px 18px;
    }
    
    .secondButton {
        margin-left: 12px;
    }
}