.nav {
  padding: 50px 0 15px;
  position: sticky;
  top: -35px;
  z-index: 100;
}

.mobileMenu {
  width: 100%;
  height: calc(100vh - 62px);
  position: fixed;
  top: 62px;
  background: white;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  z-index: 100;
}

@media (max-width: 1024px) {
  .nav {
    padding: 15px 0;
    position: sticky;
    top: 0;
  }
}
